#banner-container {
    position: relative;
    color: #FFFFFF;
}
#banner-container img{
    max-width: 100%;
    object-fit: contain;
}
#banner-container .carousel-content{
    font-family: "Montserrat";
    position: absolute;
    z-index: 100;
    bottom: 25%;
    left: 15%;
}
#banner-container .carousel-content h1{
    font-size: 2.5em;
    font-weight: bold;
}
#banner-container .carousel-content p{
    font-size: 1.2em;
    margin: 2rem 0 1.5em;
    max-width: 350px;
}
#banner-container .carousel-content button{
    font-weight: bold;
}

/* BUTTONS */
#banner-container .next img, 
#banner-container .previous img{
    color: var(--grey-color);
    width: 20px;
    height: 32px;
}
.glide__bullet{
    margin: 0 16px 32px 0;
}

@media screen and (max-width: 480px) {
    #banner-container img{
        width: 100vw;
    }
    #banner-container .carousel-content{
        width: 220px;
        bottom: 26%;
        left: 20%;
    }
    #banner-container .carousel-content h1{
        font-size: 30px;
        line-height: 37px;
    }
    #banner-container .carousel-content p{
        font-size: 14px;
        line-height: 17px;
        margin: 24px 0 16px;
    }
    /* BUTTONS */
    .next{
        right: 1.5em;
        top: 46%;
    }
    .previous{
        left: 1.5em;
        top: 46%;
    }
    .glide__bullet{
        width: 8px;
        height: 8px;
        margin: 0 16px 16px 0;
    }
}