#banner-container {
    max-width: 100vw;
    position: relative;
    color: #FFFFFF;
}
#banner-container img{
    width: 100%;
    object-fit: cover;
}
#banner-container .carousel-content{
    font-family: "Montserrat";
    position: absolute;
    z-index: 100;
    bottom: 25%;
    left: 15%;
}
#banner-container .carousel-content h1{
    font-size: 40px;
    font-weight: bold;
}
#banner-container .carousel-content p{
    font-size: 20px;
    margin: 2rem 0 1.5em;
    max-width: 350px;
}
#banner-container .carousel-content button{
    font-weight: bold;
}

/* BUTTONS */
#banner-container .next img, 
#banner-container .previous img{
    color: var(--grey-color);
    width: 20px;
    height: 32px;
}
.glide__bullet{
    margin: 0 16px 32px 0;
}
@media screen and (min-width: 1920px) {
    #banner-container .carousel-content h1{
        font-size: 3.5em;
    }
    #banner-container .carousel-content p{
        font-size: 1.8em;
        margin: 3rem 0 2em;
        max-width: 550px;
    }
    #banner-container .carousel-content button{
        font-weight: bold;
        font-size: 2em;
    }
    .glide__arrow--left{
        left: 12em
    }
    .glide__arrow--right{
        right: 12em
    }
}
@media screen and (min-width: 2560px) {
    #banner-container .carousel-content h1{
        font-size: 4.5em;
    }
    #banner-container .carousel-content p{
        font-size: 2.2em;
        margin: 4rem 0 2.5em;
        max-width: 850px;
    }
}
@media screen and (min-width: 3440px) {
    #banner-container .carousel-content h1{
        font-size: 6.5em;
    }
    #banner-container .carousel-content p{
        font-size: 2.5em;
        margin: 4.5rem 0 3.5em;
        max-width: 850px;
    }
    #banner-container .carousel-content button{
        font-size: 3em;
    }
}
@media screen and (max-width: 800px) {
    #banner-container .carousel-content{
        bottom: 20%;
    }
    #banner-container .carousel-content h1{
        font-size: 24px;
        line-height: 30px;
    }
    #banner-container .carousel-content p{
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0 16px;
    }
    #banner-container .carousel-content button{
        padding: 6px 12px;
    }
    /* BUTTONS */
    .next{
        right: 1em;
    }
    .previous{
        left: 1em;
    }
    .glide__bullet{
        width: 8px;
        height: 8px;
        margin: 0 16px 16px 0;
    }
}
@media screen and (max-width: 480px) {
    #banner-container img{
        width: 100vw;
    }
    #banner-container .carousel-content{
        width: 220px;
        bottom: 26%;
        left: 20%;
    }
    #banner-container .carousel-content h1{
        font-size: 30px;
        line-height: 37px;
    }
    #banner-container .carousel-content p{
        font-size: 14px;
        line-height: 17px;
        margin: 24px 0 16px;
    }
    /* BUTTONS */
    .next{
        right: 1.5em;
        top: 46%;
    }
    .previous{
        left: 1.5em;
        top: 46%;
    }
    .glide__bullet{
        width: 8px;
        height: 8px;
        margin: 0 16px 16px 0;
    }
}