#banner-container {
    position: relative;
    color: #FFFFFF;
}
#banner-container img{
    max-width: 100%;
    object-fit: contain;
}
#banner-container .carousel-content{
    position: absolute;
    z-index: 100;
    bottom: 25%;
    left: 15%;
}
#banner-container .carousel-content h1{
    font-size: 2.5em;
    font-weight: bold;
}
#banner-container .carousel-content p{
    font-size: 1.2em;
    margin: 2rem 0 1.5em;
    max-width: 350px;
}
#banner-container .carousel-content button{
    font-weight: bold;
}

/* BUTTONS */
.next, 
.previous{
    color: var(--grey-color);
}
.glide__bullet{
    margin: auto 16px 16px 0;
}