/* COLLECTION INFORMATION */
#colection-information{
    width: 90%;
    margin: 80px auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
}
#colection-information img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
#colection-information .information{
    color: #000;
    max-width: 90%;
}

@media screen and (min-width: 1920px) {
    #colection-information{
        width: 75%;
        margin: 80px auto;
    }
    #colection-information img{
        height: 450px;
    }

}

@media screen and (max-width: 480px) {
    #colection-information{
        width: 90%;
        margin: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: initial;
        background-color: #FAFAFA;
    }
    #colection-information h2{
        margin: 16px auto;
        font-size: 24px;
    }
    #colection-information p{
        width: 95%;
        font-size: 14px;
    }
    #colection-information img{
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        margin: 10px auto;
    }
    #colection-information .information{
        color: #000;
    }
}