/* HEADER SECTION */
header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.page-header{
    background-color: var(--grey-color);

    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 18px;

    padding: 4px;
}
header .menu-header{
    padding: 24px;
    position: relative;
}
header .img{
    text-align: center;
}
header .img img{
    margin-top: 5px;
    height: 18px;
}
header .menu-header{
    max-width: 100%;
    display: grid;
    grid-template-columns: 250px 1.3fr 1fr;
    align-items: center;
    grid-gap: 35px;
}
header .menu-search{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    line-height: 21px;

    width: 90%;
    margin: auto;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li.cart{
    border: 1px solid var(--yellow-color);
    padding: 12px;
    border-radius: 10px;
}
header nav ul li a{
    margin-left: 8px;
    position: relative;
}
header nav ul li a:hover{
    color: #000000;
    transition: 400ms;
}

/*SECONDARY MENU*/
#secondary-menu nav ul{
    display: flex;
    justify-content: space-between;

    width: 70%;
    margin: auto;
}
#secondary-menu nav ul li{
    display: flex;
    align-items: center;
}
#secondary-menu nav ul li img{
    margin-right: 8px;
}
#secondary-menu nav ul li a{
    color: var(--grey-color);
    padding: 16px 0;
}
#secondary-menu nav ul li a:hover{
    color: var(--yellow-color);
    transition: 400ms;
}
#secondary-menu nav ul li a.news{
    color: var(--yellow-color);
    font-weight: bold;
}
#secondary-menu nav ul li a:hover.news{
    color: var(--grey-color);
    font-weight: bold;
}
@media screen and (min-width: 1920px){
    header{
        width: 90%;
        margin: auto;
    }
    header .menu-header{
        grid-template-columns: 250px 1.5fr 0.8fr;
        grid-gap: 70px;
    }
    #secondary-menu nav ul{
        width: 60%;
    }
}
@media screen and (max-width:480px){
    .page-header{
        font-size: 10px;
    }
    header .menu-header{
        grid-template-columns: 0.65fr 0.1fr 0.1fr;
        justify-content: end;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    header .img{
        text-align: left;
    }
    header .img img{
        width: 100px;
    }
    header .menu-search,
    header nav ul,
    #secondary-menu nav ul{
        width: 25px;
        height: 30px;
    }
    header .menu-search{
        background: url("../images/mobile-icons/search.svg") no-repeat;
    }
    header nav ul{
        background: url("../images/mobile-icons/card.svg") no-repeat;
    }
    header .menu-search input,
    header .menu-search button,
    header nav ul li,
    #secondary-menu nav ul li{
        display: none;
    }
    #secondary-menu nav ul{
        background: url("../images/mobile-icons/icon-menu.svg") no-repeat;
        position: absolute;
        margin: -52.5px 25px;
    }
}